{% extends 'blog/parent/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'account_form.css' %}">
{% endblock %}

{% block content %}
    <h1 style="..."> فرم اطلاعات شخصی {{ account.user.first_name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <input type="submit" value="ثبت">
        </div>
    </form>

    {% if form.errors %}
        <p>لطفا خطا های زیر را اصلاح کنید:</p>
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% if form.non_field_errors %}
                <li>{{ form.non_field_errors }}</li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
